- if params[:controller] == 'folder' or params[:controller] == 'file'
  = link_to link_to t(".folders", :default => 'Folders'), { :controller => 'folder', :action => 'list', :id => nil }, { :class => 'activeLink' }
- else
  = link_to link_to t(".folders", :default => 'Folders'), { :controller => 'folder', :action => 'list', :id => nil }

- if @logged_in_user.is_admin?
  - if params[:controller] == 'user'
    = link_to t(".users", :default => 'Users'), { :controller => 'user', :action => 'list' }, { :class => 'activeLink' }
  - else
    = link_to t(".users", :default => 'Users'), { :controller => 'user', :action => 'list' }

  - if params[:controller] == 'group'
    = link_to t(".groups", :default => 'Groups'), { :controller => 'group', :action => 'list' }, { :class => 'activeLink' }
  - else
    = link_to t(".groups", :default => 'Groups'), { :controller => 'group', :action => 'list' }


