%p.title
  = t(".title", :default => "Create admin")
= name_to_username(error_messages_for('user'))
%p
  = t(".instruction.title", :default => "Boxroom does not have an administrator yet.")
  %br
  %br
  = t(".instruction.inst1", :default => "Create it here:")
- form_tag do
  %label{ :for => "user_name" }
    = t(".form.username", :default => "Username:")
  %br
  = text_field 'user', 'name'
  %br
  %br
  %label{ :for => "user_email" }
    = t(".form.email", :default => "E-mail:")
  %br
  = text_field 'user', 'email'
  %br
  %br
  %label{ :for => "user_password" }
    = t(".form.password", :default => "Password:")
  %br
  = password_field 'user', 'password'
  %br
  %br
  %label{ :for => "user_password_confirmation" }
    = t(".form.password_confirmation", :default => "Confirm password:")
  %br
  = password_field 'user', 'password_confirmation'
  %br
  %br
  = submit_tag t(".form.submit", :default => "Create admin account")
