%p.title
  = t(".title", :default => "Forgot password")

%p
  = t(".instruction.title", :default => "To get a new password:")
%ul
  %li
    = t(".instruction.inst1", :default => "Enter the username and/or the e-mail address you registered with")
  %li
    = t(".instruction.inst2", :default => "Click 'Give me a new password'")
  %li
    = t(".instruction.inst3", :default => "Check your e-mail for the new password")

- form_tag do
  = t(".form.username", :default => "Username:")
  %br
  = text_field 'user', 'name'
  %br
  %br
  = t(".form.email", :default => "E-mail:")
  %br
  = text_field 'user', 'email'
  %br
  %br
  = submit_tag t(".form.submit", :default => "Give me a new password")

= link_to t(".back_to_login", :default => "Back to login"), :action => 'login'
