%p.title
  = t(".title", :default => "Login")

- form_tag do
  = t(".form.username", :default => "Username:")
  %br
  = text_field 'user', 'name', :style => 'width:220px;'
  %br
  %br
  = t(".form.password", :default => "Password:")
  %br
  = password_field 'login', 'password', :style => 'width:220px;'
  %br
  %br
  = submit_tag t(".form.submit", :default => "Login")

= link_to t(".forgot_password", :default => "I forgot my password"), :action => 'forgot_password'
