%p.title
  Users
- if flash[:user_error]
  #error
    = flash[:user_error]

- if flash[:user_confirmation]
  #confirmation
    = flash[:user_confirmation]

%table
  %tr
    %th
    %th{ :width => "180" }
      Name
    %th{ :width => "356" }
      E-mail address
    %th
    %th
  - @users.each do |user|
    %tr{ :class => cycle('even', 'odd') }
      %td
        = image_tag('user.png')
      %td
        = h(user.name)
      %td
        = h(user.email)
      %td
        = link_to image_tag('edit.png'), { :action => 'edit', :id => user }, { :title => "Edit this user's settings" }
      - if user.is_the_administrator?
        %td
      - else
        %td
          = link_to image_tag('delete.png'), { :action => 'destroy', :id => user }, { :title => 'Delete this user', :confirm => 'Are you sure?' }


