%p.title
  = t(".title", :default => "Users")

%table
  %tr
    %th
    %th{ :width => "180" }
      = t(".headers.name", :default => "Name")
    %th{ :width => "356" }
      = t(".headers.email", :default => "E-mail address")
    %th
    %th
  - @users.each do |user|
    %tr{ :class => cycle('even', 'odd') }
      %td
        = image_tag('user.png')
      %td
        = h(user.name)
      %td
        = h(user.email)
      %td
        = link_to image_tag('edit.png'), { :action => 'edit', :id => user }, { :title => t(".links.edit_user", :default => "Edit this user's settings") }
      - if user.is_the_administrator?
        %td
      - else
        %td
          = link_to image_tag('delete.png'), { :action => 'destroy', :id => user }, { :title => t(".delete_user.title", :default => "Delete this user"), :confirm => t(".delete_user.confirm", :default => "User \"{{name}}\" will be deleted!\nAre you sure?", :name => user.name)}

- content_for :actionlinks do
  = render :partial => "actionlinks"
