%p.title
  = t(".title", :default => "New user")

- form_tag :action => 'create' do
  = render :partial=>'form'
  = submit_tag t(".form.submit", :default => "Create")

= link_to t(".links.back", :default => "Back"), :action => 'list'

- content_for :actionlinks do
  = render :partial => "actionlinks"
